@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.App {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

h1 {
  color: hsla(180, 25%, 32%, 1);
  text-transform: uppercase;
  letter-spacing: 1rem;
}

@media (max-width: 880px) {
  br {
    display: none;
  }

  h1 {
    font-size: small;
  }
}
